
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0px;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0px; 
}
#root{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  min-height: 100vh !important;
  padding: 0px;
}
.bodyContainer{
  width: 100%;
  min-height: 400px;
}
.header{
  box-shadow: 0 15px 35px -20px rgba(40,44,63,.15);
  /* background-color: #c14545; */
  padding: 5px 2.5vw;
  width: 95vw;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-end-end-radius: 4px;
  margin-bottom: 3vh;
}
.logo-Container {
  height: 100px;
  width: 18vw;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.logo {
  border-radius: 300px;
  width: 45px;
  background-color: #fff;
  transition: all 200ms ease-in-out; 
  
}

.logo:hover {
  width: 55px; 
}
.headerUserName{
  font-weight: lighter;
  padding-left: 10px;
}

.nav-items{
  list-style: none;
  width: 50vw;
  min-width: 333px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size:1rem;
  font-weight: 550;
  overflow-x: auto;
  margin: 0px;
  padding: 0px;
}
.nav-items > ul{
  overflow-x: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item a {
  width: fit-content;
  text-decoration: none; 
  color: #000;
  border-radius: 3px;
}

.nav-item a:hover {
  color: #fc8019!important;
  cursor: default;
}

.nav-item:hover{
  color: #fc8019!important;
  cursor: default;
}

.isOnlineOffline {
  display: inline-block;
  width: 8px ; 
  height: 8px ; 
  background-color: #9d2a01; 
  border-radius: 50%; 
}


.body{
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.filter_and_search{
  display: flex;
  justify-content: space-between;
  margin-left: 7rem;
  margin-right: 7rem;
}
.search-container{
  display: flex;
  /* justify-content: end; */
  margin-right: 5px;
  padding: 2px;
}
.search-input{
  padding-left: 5px;
  width: 20vw;
  box-sizing: border-box;
  color: #000;
  background: rgb(255, 255, 255);
  border: 1px solid #aabcca;
  border-right: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: none;
  padding: 10px 15px 10px 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}
.search-button{
  color: #fff;
  cursor: pointer;
  background-color: #0768b3;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  outline: none;
  margin-left: -4px;
  padding: 10px 22px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}
.filter{
  width: 55vw;
  height: 2.6rem;
  /* border: 2px solid black; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.filter::-webkit-scrollbar {
  background-color: transparent; 
  height: 0px;
}
.filter_btn {
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 9px 12px;
  display: inline-grid;
  width: max-content;
  grid-auto-flow: column;
  gap: 8px;
  /* box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px; */
  box-shadow: 1px 2px 4px rgba(0,0,0,.08);
  transition: all 100ms ease-in 0s;
  margin: 0.3vw;

}

.filter_btn:hover {
  background-color: rgb(245, 245, 245);
  border-color: rgb(200, 200, 200);
  box-shadow: rgba(2, 6, 12, 0.1) 0px 4px 16px;
}

.card-img{
  width: 100%;
  height: 110px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.restorent-card{
  /* box-shadow: -1px 5px 10px 3px rgba(42,42,42,.2); */
  padding: 8px;
  font-size: 0.80rem;
  font-family: 'Times New Roman';
  width: 185px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 15px;
}
.restorent-card:hover{
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}

.restaurant-containser{
  text-decoration: none !important;
}
.restorent-tital{
  font-size: 1rem;
  margin: 0;
  padding: 2px;
  font-weight: 550;
}
.rating-time{
  display: flex;
  flex-direction: row;
  padding: 2px;
  font-size: 0.95rem;
  font-weight: 550;
}
.star-img{
  width: 0.64rem;
  margin-left:2px;
}
.customer-rating{
  padding: 2px;
}
.time-to-reach{
    /* margin-left: 15px; */
    padding: 2px;
}
.restaurant-containser{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;

}
.restorent-card{
  color: rgba(2, 6, 12, 0.75);
}

.hotel-address-area{
    font-size: 0.9rem;
    padding: 2px;
}
.hotel-address-city{
    padding: 2px;
}

.match-not-found{
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-and-filter-skeleton {
  width: 92vw;
  height: 2.3rem;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

.filter_skeleton_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.filter_skeleton {
  width: 9.3vw;
  height: 2rem;
  border-radius: 15px !important;
  /* background-color: #fc8019; */
  background-color: cadetblue;
  animation: skeleton-loading 1s linear infinite alternate;
}

.search-skeleton-box {
  width: 26vw;
  height: 2rem;
  /* background-color: #fc8019; */
  border-radius: 15px !important;
  animation: skeleton-loading 1s linear infinite alternate;
}


.restorent-card-skeleton{
  /* height:200px; */
  width: 201px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  /* border: 2px solid black; */
}
.skeleton{
  margin-bottom: 8px;
  border-radius: 4px;
  /* border: 2px solid black; */
  animation: skeleton-loading 1s linear infinite alternate;
}





.halfLen{
  height: 1rem;
  width: 100%;
}
.fullLen{
  height: 1rem;
  width: 70%;
}


@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 95%);
  }
  100%{
    background-color: hsl(200, 20%, 75%);
  }
}





/* Contact Component Styles */
.contact-us-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us-container h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.label-text {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-field {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea-field {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.error-message {
  color: red;
}

.submit-btn-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: #ff7f0e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ff6600;
}

/* Food Ordering Theme */
.food-ordering-theme {
  background-color: #fff;
  border: 2px solid #ccc;
}

.food-ordering-theme h2 {
  color: #ff7f0e;
}

.input-field,
.textarea-field {
  background-color: #f4f4f4;
}

.submit-btn {
  background-color: #ff7f0e;
}

.submit-btn:hover {
  background-color: #ff6600;
}

/* Additional Styling */



/*  Error page styling - */

.error-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.error-container {
  height: 35vh;
  width: 60vw;
  text-align: center;
  /* background-color: #1da1f2; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-image img {
  max-width: 33vw;
  max-height: 33vh;
}

.error-info {
  margin-left: 60px; 
  text-align: left;
  margin-top: 0px;
}

.error-heading {
  font-size: 2rem;
  font-weight: 950;
}

.error-message {
  /* margin: px 0; */
  color: #555;
}

.home-button {
  padding: 8px;
  margin-top: 15px;
  background-color: #ffffff; /* Green color for the button */
  color: #121111;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid black;
}


/* Footer styles */
#main-footer {
  height: 5rem;
  background-color: #f1f1f6;
  color: #000;
  text-align: center;
  margin-top: auto;
  margin-bottom: 5px ;
  /* background-color: #4caf50; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;  
}

#footer-content {
  max-width: 800px;
  margin: 0 auto;
}

#footer-text {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
}



/* SignIn.js styling  */
.color-red{
  color: red;
  font-weight: 500;
}
.signin-body{
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container styles */
.signin-container {
  display: inline-block;
  width: 350px;
  max-height: 394px;
  margin-bottom: .5vh;
  height: fit-content;
  padding: 15px 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Header styles */
.signin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.signin-header h2 {
  font-size: 24px;
  margin: 0;
}

.close-icon {
  width: 25px;
  height: 25px;
  position: relative;
}

.close-icon:before, .close-icon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}


/* Form styles */
.form-group {
  margin-bottom: 12px;
  width: 94%;
}

/* .form-group input {
  background-color: #fff;
  width: 80%;
} */


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  background-color: #fff;
  width: 100%;
  height: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.error-message {
  color: rgb(224, 53, 70);
  visibility: visible;
  font-size: .7rem;
  font-weight: 550;
  font-family: Okra, Helvetica, sans-serif;
}

#agreeToTerms{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
#agreeToTermsLabel{
  display: flex;
}
#agreeToTermsLabelError{
  font-size: 0.8rem;
  font-family: Okra, Helvetica, sans-serif;
}

/* Button styles */
.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Toggle signin link styles */
.toggle-signin p {
  margin: -5px 1px;
}

.toggle-signin a {
  color: #007bff;
  text-decoration: none;
}

.toggle-signin a:hover {
  text-decoration: underline;
}


/* instamart styling */
.instamartBody{
  margin: 20px;
  height: auto;
  width: 97vw;
  /* background: #007bff; */

}
.instamartBody p{
  display: inline-block;
}
.instamartBox{
  border: 2px solid rgb(81, 80, 80);
  width: 60vw;
  background-color: #dce4ff;

}
.sectionbox{
  margin: 10px 2px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ededed;
  border: 2px solid gray;
}
.sectionHeader{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.sectionHeader p{
  margin-left: 20px;
  margin-right: 20px;
}
.instamartpara{
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10px;
}
